<!-- 模态框 -->
<div class="modal fade" id="categoryModal" tabindex="-1" role="dialog" aria-labelledby="categoryModalLabel" aria-hidden="true"> //该Modal 默认隐藏
<div class="modal-dialog">
 <div class="modal-content">
 <div class="modal-header">
 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button> //关闭模态框X按钮
<h4 class="modal-title" id="catetoryModalLabel">
正在加载模态框标题
</h4>
 </div>
 <div class="modal-body" id="categoryPreview">

正在加载内容

</div>

<div class="modal-footer">  //让关闭模态框的按钮和操作按钮并排放置。
<button type="button" class="btn btn-info" data-dismiss="modal">
关闭
</button>
 <button type="button" class="btn btn-success" id="operateCategory-btn" >正在加载按钮功能</button>

 </div>

</div>
 </div>
</div>
